<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lrs.boot.mybatis.mapper.EmployeeMapper">
	<resultMap type="Employee" id="employeeMap">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="state" property="state" />
		<result column="city" property="city" />
	</resultMap>
	
	<select id="selectById" resultMap="employeeMap">
		SELECT id,name,state,city FROM employee WHERE id=#{id}
	</select>
</mapper>